<div class="row main-navigation">
  <ul class="menu medium-12 colums">
    <li>
      <%= link_to t(:buy), buy_url, class: 'button' %>
    </li>
    <li>
      <%= link_to t(:sell_and_trade), sell_url, class: 'button' %>
    </li>
    <li>
      <%= link_to t(:service_and_repair), service_url, class: 'button' %>
    </li>
  </ul>
</div>
