<section class="row" id="featured-new-autos-list">
  <div class="medium-6 columns" id="featured-autos">
    <h3><%= t :featured_autos %></h3>
    <ul>
      <li>
        <div>
          <img src="" alt="" />
          <p>Auto One</p>
        </div>
      </li>
      <li>
        <div>
          <img src="" alt="" />
          <p>Auto Two</p>
        </div>
      </li>
      <li>
        <div>
          <img src="" alt="" />
          <p>Auto Three</p>
        </div>
      </li>
    </ul>
  </div>

  <div class="medium-6 columns" id="new-autos">
    <h3><%= t :new_autos %></h3>
    <ul>
      <li>
        <div>
          <img src="" alt="" />
          <p>Auto One</p>
        </div>
      </li>
      <li>
        <div>
          <img src="" alt="" />
          <p>Auto Two</p>
        </div>
      </li>
      <li>
        <div>
          <img src="" alt="" />
          <p>Auto Three</p>
        </div>
      </li>
    </ul>
  </div>
</section>
