// Place all the styles related to the admin index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Admin login
#admin-login-container,
#forgot-password-container,
#change-password-container {
  margin: 20px auto;
  padding: 1em;
}

#main-header {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

#main-content { padding-top: 0.9375rem; }

#main-footer { margin-top: 1em; }

#left-menu {
  padding-top: 0.9375rem;
  position: fixed;
  border-right: 1px solid #ccc;
  background-color: #fff;
  height: 100%;
}

#left-menu img { width: 35px; }
#left-menu a { color: #474747 }

.widget {
  margin-bottom: 1rem;
}

.widget .inside {
  padding: 0.9375rem;
  background: #fff;
  box-shadow: 2px 2px 1px #c6c6c6;
}
