<h1>Hi there,</h1>
<p>
  You have requested to reset your password
  for your Automall admin account. If this is a mistake
  please contact the system administrator at
  <a href="mailto:support@example.com">support@example.com</a>.
</p>
<p>
  To reset your password just follow this link:
  <%= link_to 'reset password', @confirmation_url %>.
</p>
<p>Have a great day!</p>
